/* Algemeen */

* {
    margin: auto;
}

#wrapper {
    width: 900px;
}

/* Header */

header {
    width: 900px;
    padding: 25px;
}

header h2 {
    text-align: center;
    font-size: 36px;
    font-family: Calibri;
    padding: 16px;
}

#bovenbalk {
    width: 900px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

#connection {
    float: right;
    color: #291C5B;
}

#box {
    width: 175px;
    height: 40px;
    padding: 1.1%;
    background-color: #291C5B;
    margin-left: 0;
    text-align: center;
    border-radius: 20px;
}

#box p {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: calibri;
}

/* footer */

footer {
    width: 900px;
}

#verder {
    width: 300px;
    height: 100px;
    background-color: #291C5B;
    text-align: center;
    color: white;
    font-family: calibri;
    border-radius: 20px;
    margin: 25px;
    margin-top: 100px;
    font-size: 34px;
    float: right;
}

#verder p {
    margin: 25px;
}

#verdericon {
    color: white;
    float: left;
    font-size: 48px;
    margin-right: 50px;
}

#verder:hover {
    background-color: #D9D9D9;
}

h1 {
    font-family: calibri;
    font-size: 80px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 200px;
}

#tekst {
    font-family: calibri;
    font-size: 25px;
    margin-left: 25px;
    margin-bottom: 40px;
}

#beheerurl {
    width: 850px;
    height: 90px;
    background-color: #E8E8E8;
    border-radius: 20px;
    border-style: solid;
    border-color: #291C5B;
    border-width: 2px;
    font-family: calibri;
    font-size: 28px;
    display: flex;
    text-align: left;
    margin-bottom: 7px;
}

#koppelcode {
    width: 850px;
    height: 90px;
    background-color: #E8E8E8;
    border-radius: 20px;
    border-style: solid;
    border-color: #291C5B;
    border-width: 2px;
    font-family: calibri;
    font-size: 28px;
    display: flex;
    text-align: left;
    margin-bottom: 200px;
}

#inlog p {
    margin-left: 20px;
}

